asgiref==3.7.2
backports.zoneinfo==0.2.1
bcrypt==4.2.1
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
Django==3.2.25
django-cors-headers==4.1.0
django-filter==23.5
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.0
Pillow==9.4.0
PyJWT==2.8.0
pytz @ file:///C:/b/abs_22fofvpn1x/croot/pytz_1671698059864/work
sqlparse==0.4.4
typing_extensions==4.7.1
wincertstore==0.2
